<!-- -->
<launch>
    <arg name="location"    default="kcity"/>
    <arg name="bag"         default="false"/>
  
    <!-- KATRI & KCity -->
    <arg name="ref_lat_katri" default="37.23855064" />
    <arg name="ref_lon_katri" default="126.77253029" />
    <arg name="ref_hgt_katri" default="0.0" />

    <!-- Pangyo Station -->
    <arg name="ref_lat_pangyo" default="37.394776" />
    <arg name="ref_lon_pangyo" default="127.111158" />
    <arg name="ref_hgt_pangyo" default="40.0" />

    <!-- Hanyang University -->
    <arg name="ref_lat_hanyang" default="37.5582" />
    <arg name="ref_lon_hanyang" default="127.0445" />
    <arg name="ref_hgt_hanyang" default="66.0" />

    <param name="/use_sim_time" value="$(arg bag)"/>
    <node pkg="ekf_localization" type="ekf_localization" name="ekf_localization" output="screen">
        <param name="location"  value="$(arg location)"/>

        <!-- KCity/KATRI -->
        <param name="ref_latitude" value="$(arg ref_lat_katri)" if="$(eval location=='kcity' or location=='katri')"/>
        <param name="ref_longitude" value="$(arg ref_lon_katri)" if="$(eval location=='kcity' or location=='katri')"/>
        <param name="ref_height" value="$(arg ref_hgt_katri)" if="$(eval location=='kcity' or location=='katri')"/>

        <!-- Pangyo Station -->
        <param name="ref_latitude" value="$(arg ref_lat_pangyo)" if="$(eval location=='pangyo')"/>
        <param name="ref_longitude" value="$(arg ref_lon_pangyo)" if="$(eval location=='pangyo')"/>
        <param name="ref_height" value="$(arg ref_hgt_pangyo)" if="$(eval location=='pangyo')"/>
        
        <!-- Hanyang University -->
        <param name="ref_latitude" value="$(arg ref_lat_hanyang)" if="$(eval location=='hanyang')"/>
        <param name="ref_longitude" value="$(arg ref_lon_hanyang)" if="$(eval location=='hanyang')"/>
        <param name="ref_height" value="$(arg ref_hgt_hanyang)" if="$(eval location=='hanyang')"/>
    </node>
</launch>